{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "2021"
        },
        "modules": false
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-react-jsx"]
}
